[Unit]
Description=Remote Robot Worker
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.8 /home/ansatsu/robopu/bigrc.py
Restart=on-failure
RestartSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target