[Unit]
Description=Remote Robot Worker (v5)
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/cortano/v5-worker.py
Restart=on-failure
RestartSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target